<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>연산할 두 숫자를 입력하세요</h1>
  <form action="/result/" method="GET">
    <div>
      <label for="first">첫번째 숫자 : </label>
      <input type="text" id='first' name='num1'>
      <label for="second">두번째 숫자 : </label>
      <input type="text" id='second' name='num2'>
      <input type="submit" value='계산!'>
    </div>
  </form>
</body>
</html>